/* * {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

:root {
  --primaryColour: #0a1828;
  --secondaryColour: #178582;
  --primaryText: #bfa181;
  /* --secondaryText: rgb(76, 220, 175); */
}

body {
  box-sizing: border-box;
  background-color: #0a1828;
  color: white;
}

btn1 {
  background-color: var(--secondaryColour);
  color: var(--primaryText);
}

btn2 {
  color: white;
}

/* Dark classic blue (#0A1828), turquoise (#178582), gold (#BFA181) */
